{% extends 'base.html' %}
{% load static %}
{% block navbar %}

<link rel="stylesheet" href="{% static 'contact.css' %}">

{% endblock %}
{% block content %}

<section id="contact">

    <div class="row">
        <div class="contact-1 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body contact-2">
                    <h2 class="bold">Roorkee, Uttarakhand</h2>
                    <p><img src="{% static 'Location.png' %}" alt=""> <strong class="bold">Address-</strong> It is a
                        long established fact that a reader will be distracted by the readable content of a page when
                        looking at its layout.</p>
                    <p><img src="{% static 'Phone.png' %}" alt=""> <strong class="bold">Call Us-</strong>
                        (+91)9480842838</p>
                    <p><img src="{% static 'mail.png' %}" alt=""> <strong class="bold">Email-</strong>Email-
                        bhuamrit@gmail.com</p>
                    <button type="button" class="button-colo">View Map</button>
                </div>
            </div>
        </div>

        <div class="contact-1 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body contact-2">
                    <h2 class="bold">Roorkee, Uttarakhand</h2>
                    <p><img src="{% static 'Location.png' %}" alt=""> <strong class="bold">Address-</strong> It
                        is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <p><img src="{% static 'Phone.png' %}" alt=""> <strong class="bold">Call Us-</strong>
                        (+91)9480842838</p>
                    <p><img src="{% static 'mail.png' %}" alt=""> <strong class="bold">Email-</strong>Email-
                        bhuamrit@gmail.com</p>
                    <button type="button" class="button-colo">View Map</button>
                </div>
            </div>
        </div>

        <div class="contact-1 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body contact-2">
                    <h2 class="bold">Roorkee, Uttarakhand</h2>
                    <p><img src="{% static 'Location.png' %}" alt=""> <strong class="bold">Address-</strong> It
                        is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                    <p><img src="{% static 'Phone.png' %}" alt=""> <strong class="bold">Call Us-</strong>
                        (+91)9480842838</p>
                    <p><img src="{% static 'mail.png' %}" alt=""> <strong class="bold">Email-</strong>Email-
                        bhuamrit@gmail.com</p>
                    <button type="button" class="button-colo">View Map</button>
                </div>
            </div>
        </div>


    </div>
</section>

{% endblock %}