{% extends 'base.html' %}
{% block navbar%}
<style>
	.big-container {
		background-color: white;
		padding-top: 20px;
	}

	.side-bar {
		margin-bottom: 20px;
	}

	.button-new {
		background-color: #c06145;
		color: #fae3d3;
	}

	.button-new:hover {
		background-color: #fae3d3;
		color: #c06145;
	}

	.button-new:focus {
		background-color: #c06145;
		color: #fae3d3;
	}

	.button-new-2 {
		background-color: #fae3d3;
		color: #c06145;
	}

	.button-new-2:hover {
		background-color: #c06145;
		color: #fae3d3;
	}

	.button-new-2:focus {
		background-color: #fae3d3;
		color: #c06145;
	}

	.button-new-side {
		border-color: #c06145;
		background-color: #fae3d3;
		border-radius: 5px 5px;
		margin-bottom: 5px;
		color: #c06145;
		font-weight: bold;
	}

	.button-new-side:hover {
		background-color: #c06145;
		color: #fae3d3;
	}

	.button-new-side:focus {
		background-color: #fae3d3;
		color: #c06145;
	}

	.individual-card {
		padding-bottom: 10px;
		border-color: #c06145;
		color: #c06145;
	}
</style>
{%endblock%}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid big-container">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto side-bar">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action  button-new-side">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action btn button-new-side">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3 individual-card" id={{product.id}} style="width: 15rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price|currency}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<!-- /#{{product.id}} -->
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block button-new-2 border-right">
							</form>
							<div class="text-center button-new col btn ">
								{{product|cart_quantity:request.session.cart}}
								in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block button-new-2 border-left">
							</form>
						</div>
						{% else %}
						<form action="/#{{product.id}}" method="POST" class="btn-block button-new">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn button-new form-control " value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}