{% extends 'base.html' %}

{% block navbar%}
<style>
    .store-1 {
        margin: 40px 20px;
        border-style: solid;
        border-width: thin;
        border-color: #fae3d3;
        background-color: #c06145;
        color: #fae3d3;
    }

    .store-heading {
        /* margin: 50px 50px; */
        padding: 10px 0 10px 0;
        text-align: center;
    }

    .store-table {
        margin-bottom: 50px;
    }
</style>
{%endblock%}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container ">
    <div class=" rounded store-1">
        <h1 class=" store-heading">Your Orders</h1>
        <!-- <hr> -->
    </div>
    <div style="overflow-x:auto;">
        <table class=" table store-table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {%else%}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>
</div>





{% endblock %}